// Css Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button  {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

@font-face {
    font-family: "Concert One";
    src: local("ConcertOne"),
     url("../fonts/ConcertOne-Regular.ttf") format("truetype");
}

html, body {
	line-height: 1;
    min-height: 100%;
    max-height: 100%;
    background-color: antiquewhite;
    font-family: "Concert One";
}

.main-container {
    display: grid;
    grid-template-rows: 125px 1fr 50px;
    height: 100vh;
}

.home-page  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-page-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 25%;
}

.home-page-text p {
    font-size: 2.5rem;
}

#shop-now-button    {
    font-size: 1.5rem;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 1rem;
    background-color: rgb(124, 187, 109);
    color: white;
    font-family: "Concert One";
}

#shop-now-button:hover    {
    background-color: rgb(111, 177, 95);
}

#shop-now-button p  {
    text-decoration: line-through;
}

//HEADER
header  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;
}

.nav-bar   {
    display: flex;
    gap: 2rem;
    font-size: 1.75rem;
}

.nav-bar ul   {
    display: flex;
    gap: 2rem;
    font-size: 1.75rem;
}

.nav-bar ul li   {
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(147, 185, 228, 0.712);
}

.nav-bar ul li:hover   {
    transform: scale(1.1);
}


.nav-bar a   {
    color: black;
    text-decoration: none;
}

#cart-button    {
    height: 32px;
    width: auto;
    cursor: pointer;
    
}

.shopping-cart {
    position: relative;
    cursor: pointer;
};

.shopping-cart:hover  {
    transform: scale(1.1);
}

#display-cart   {
    background-color: rgba(147, 185, 228, 0.712);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-quantity {
    position: absolute;
    left: 2rem;
    bottom: 0.1rem;
    border-radius: 50%;
    background-color: inherit;
    padding: .25rem;
    font-size: 1.5rem;
    color: rgb(138, 64, 64);
}

//FOOTer
footer  {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
    align-items: center;
}

footer p {
    z-index: 1;
}

footer a {
    color: inherit;
    text-decoration: none;
    text-shadow: 1px 1px rgb(201, 193, 193); 
}

footer p a:hover {
    color: rgb(240, 236, 236);
    text-shadow: 2px 2px rgba(188, 194, 202, 0.678); 
}

#footer-image   {
    width: 100%;
    position: absolute;
    height: 200px;
    bottom: 0;
    z-index: 0;
}


.cart-sidebar   {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    z-index: 1;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 100px 100px rgba(202, 202, 202, 0.671);
}

.cart-header    {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.75rem;
}

.cart-header button   {
    border: none;
    padding: 5px;
    font-size: 2.5rem;
    background-color: white;
    color: black;
    font-family: "Concert One";
}

.cart-header button:hover   {
    transform: scale(1.05);
}

.cart-products   {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 5px;
}

.cart-products img  {
    width: 10%;
}

.cart-product   {
    display: flex;
    width: 75%;
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(202, 202, 202, 0.671);
    justify-content: space-between;
}

.cart-product p  {
    display: flex;
    align-items: center;
}

.cart-footer    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 10px;
    margin-top: 10px;
    font-size: 1.75rem;
}

#checkout-button {
    font-size: 1.5rem;
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 1rem;
    background-color: rgb(124, 187, 109);
    color: white;
    font-family: "Concert One";
}

#checkout-button:hover    {
    background-color: rgb(111, 177, 95);
}

.cart-product-totals    {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cart-product-totals-quantity    {
    display: flex;
    gap: 10px;
}










#nose-image {
    z-index: 1;
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.651);
}

#nose-image:hover {
    transform: rotate(-5deg) skew(-5deg);
}

.product-page   {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 75px;
    margin-bottom: 50px;
}

.product-card   {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(185, 185, 185, 0.74);
    padding: 10px;
}

.product-card img  {
    width: 50%;
}

.add-to-cart-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(157, 211, 164);
    color: white;
    font-family: "Concert One";
}

.add-to-cart-button:hover {
    transform: scale(1.03);
    background-color: rgb(136, 192, 144);
}

.active {
    display: flex !important;
}

.inactive{
    pointer-events: none;
}